<app-header (fetureEvent)="onNav($event)"></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-recipes *ngIf="name === 'Recpie'"></app-recipes>
        <app-shopping-list *ngIf="name !== 'Recpie'"></app-shopping-list>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">  
        <br>
        <br>
        <app-new-feture (some)="PlayViewWithMassage($event)"></app-new-feture> 
        <app-view [MSG]="msg"></app-view>
      </div>
    </div>
  </div>
  





